instagrapi==1.16.29
geographiclib==1.52
geopy==2.2.0
validators==0.20.0
nltk==3.7
aiohttp==3.8.1
beautifulsoup4==4.11.1
pymongo==4.1.1
unicodedata2==14.0.0
validators==0.20.0
langid==1.1.6
typing_extensions==4.3.0
aiohttp==3.8.1
beautifulsoup4==4.11.1
gender-guesser==0.4.0
Django==4.1
djangorestframework==3.13.1
# git+https://git@github.com/ping/instagram_private_api.git@1.6.0
# nltk custom packages (see error messages)
